@import "../../../styles/settings.scss";

.carousel-image-wrapper {
    margin: 0 auto; /* Center the images horizontally */
    width: 100%; /* Adjust the width of the image wrapper */
    height: 400px;
    position: relative;
}

.carousel-image {
    width: 100%; /* Make the images fill the available space within the wrapper */
    height: 400px; /* Maintain the aspect ratio of the images */
    object-fit: cover;
    overflow: hidden;
    object-position: center;
}

.carousel-overlay {
    position: absolute;
    top: 145px;
    left: 0;
    width: 100%;
    height: 400px;
    background-color: rgba(0, 0, 0, 0.3); /* Dark background with 0.3 opacity */
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    opacity: 0; /* Initially hidden */
    transition: opacity 0.3s ease; /* Smooth transition on opacity change */
  }
  
  .carousel-text {
    color: white;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    font-size: 90px;
    font-family: $decorative;
  }
  
  .carousel-wrapper:hover .carousel-overlay {
    opacity: 1; /* Show the overlay on hover */
  }