.product_img_d {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
}

.img_container_d {
    position: relative;
    width: 100%; 
    height: 450px; 
    overflow: hidden; 
}

.small_img_d {
    transform: scale(1.5);
    bottom: 50px;
}

.large_img_d {
    transform: scale(0.9);
}

.caption {
    padding-right: 5px;
    font-weight: 600;
}

input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type='number'] {
    text-align: center;
  }