@import "../../../styles/settings.scss";

.root {
  background-color: $header-bg;


  .logo {
    border-radius: 10px;
    margin-right: 20px;
  }

  .phoneNumber {
    span {
      margin-left: 10px;
      font-size: 17px;
      line-height: 42px;
      color: $color-light;
      font-weight: 500;
    }
  }

  .icon {
    font-size: 32px;
    color: $color-light;
    vertical-align: middle;
    margin-top: -3px;
  }

  .cart {


    .cartBox {
    
      color: $color-light;

      .cartIcon {
        height: 50px;
        font-size: 20px;
        position: relative;
        align-items: center;

        .icon {
          margin-right: 10px;
          position: absolute;
          top:10px;
        }
        .cartCounter {
          margin: 0;
          width: 17px;
          height: 17px;
          border-radius: 20px;
          background-color: red;
          display: flex;
          align-items: center;
          justify-content: center;
          font-size: 10px;
          font-weight: bold;
          color: rgb(224, 227, 237);
          position: absolute;
          left: 30px;
          bottom: 35px;
        }
      }

      &:hover {
        .icon {
          scale: 1.2;
        }
        .cartCounter {
          scale: 1.2;
        }
      }
    }
  }

  .slogan {
    display: inline-block; // Show the slogan on desktop
    font-size: 30px;
    font-weight: bold;
    color: $color-light;
    font-family: $decorative;
  }
}

.navbar_collapse {
  background-color: $header-bg; /* Set the same background color as the entire Navbar */
}

@media (min-width: 750px) {
  .slogan {
    display: none;
  }

}