@import "../../../styles/settings.scss";

.section_name {
font-family: $font-text;
  padding-top: 20px;
  padding-bottom: 10px; 
}

.summary {
    font-size: 20px;
    font-weight: 500;
    display: block;
}

input[type='number'].no_center {
    text-align: left; 
  }
  .sectionDivider {
    border: none;
    border-top: 2px solid #2a2a2a;
    margin-bottom: 20px;
  }

  .commentsColumn {
    white-space: normal; 
    word-wrap: break-word; 
    width: 30%;
  }