@import "../../../styles/settings.scss";

.product-list {
    margin: -10px; /* Adjust spacing between products */
  }
  
  .pagination {
    margin-top: 20px; /* Adjust spacing between products and pagination */
    justify-content: center;
  }
  
  /* Adjust styles for pagination buttons as needed */


