.wrapper {
  box-shadow: 2px 2px 5px #444444;
  margin: 10px 5px;
  position: relative;
  border-radius: 30px;
}

.img_row {
  height: 250px;
}

.product_img {
  position: absolute;
  object-fit: cover;
  z-index: -1;
}

.name_container {
  text-align: center;
  padding-top: 10px;
}

.img_wrapper {
  display: flex;
  justify-content: center;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  transition: opacity 0.3s ease;
  padding: 0;
  margin: 0;
  overflow: hidden;
  border-radius: 30px;
}

.overlay a {
  text-decoration: none;
}

.wrapper:hover .overlay {
  opacity: 1;
}

.overlay button {
  display: none;
}

.wrapper:hover .overlay button {
  display: block;
}

.details {
  padding-top: 10px;
}

.name {
  margin-top: auto;
}

.price {
  margin-bottom: 10px;
}
.large_img {
  transform: scale(1.3);
  bottom: 20px;
  width: auto;
  height: auto; 
  max-width: 100%; 
  max-height: 100%;
}
.small_img {
  transform: scale(1.5);
  bottom: 25%;
  width: 100%;
  height: 80%;
}

.sectionDivider {
  border: none;
  border-top: 2px solid #2a2a2a;
  margin: 10px 0;
}
