@import url('https://fonts.googleapis.com/css2?family=Patrick+Hand&family=Protest+Riot&family=Roboto&display=swap');

//fonts
$decorative: 'Patrick Hand',  sans-serif, cursive;
$font-text: 'PRotest Riot', sans-serif;


//element colors
$header-bg: #65B741;
$color-light: #ffff;
$color-dark: #2f3542;
$color-red: red;


//button styles

$radius: 5px;
$base-size: 12px;
$transition: all 1s;
