.wrapper {
  box-shadow: 2px 2px 5px #444444;
  margin: 10px 5px;
  position: relative;
  border-radius: 30px;
}

.img-row {
  height: 250px;
}


.product-img {
  border-radius: 5%;
  width: 100%;
  height: 100%;
  position: absolute;
  object-fit: cover;
  overflow: hidden;
  z-index: -1;
}
.name-container {
  text-align: center;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  transition: opacity 0.3s ease;
  padding: 0;
  margin: 0;
  overflow: hidden;
  border-radius: 30px;
}

.wrapper:hover .overlay {
  opacity: 1;
}

.overlay button {
  display: none;
}

.wrapper:hover .overlay button {
  display: block;
}

.details {
  padding-top: 10px;
}

.name {
  margin-top: auto; /* Align name and price to bottom */
}

.price {
  margin-bottom: 10px; /* Add spacing between name and price */
}
.large-img {
  transform: scale(1); 
  bottom: 40px; 
}
.small-img {
  bottom: 70px;
  transform: scale(1.5);
}

.sectionDivider { 
  border: none;
  border-top: 2px solid #2a2a2a;
  margin: 10px 0;
}